@page "/"

<PageTitle>Guess The Song</PageTitle>

<Button>Get Lyrics</Button>

<input type="text" value="@inputValue" onEnter="ProcessInput" />

@code {
    private string inputValue;

    private void ProcessInput()
    {
        
    }
}
