@page "/"
@using Songlyrics.Data

<PageTitle>Guess The Song</PageTitle>

<Button @onclick="GetLyrics">Get Lyrics</Button>


<input type="text" value="@inputValue" onEnter="ProcessInput" />

@code {
    private string inputValue;

    private void ProcessInput()
    {
        
    }

    private void GetLyrics()
    {
        var client = new SpotifyClient();
        var x = client.GetLyricsFromARandomTrackInPlaylist("0e9L3EiHZ8dfMWah3pg6uG");
    }
}
 